<div class="about-container">
  <h2>About the Angular Crash Course</h2>

  <p>
    Welcome to the Angular Crash Course! This course is designed for one of the most popular JavaScript frameworks for building we applicaton
  </p>
  <p>
    In this course, you will learn the fundamentals of Angular, included and HTTP communitcation. By the end of the course, you will have powerful and interactive web applications using Angular
  </p>
  <p>
    Whether you are new to web development or have experience with OOP
  </p>
</div>
